ul.header {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #767676;
    }

    li.header {
        float: left;
    }

    li a {
        display: inline-block;
        padding: 8px;
        text-align: center;
        color: floralwhite;
        background-color: #767676;
        text-decoration: none;
    }

    li.header a:hover {
        background-color: #585858;
    }
