[Unit]
Description=bsnstatus
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run -d --name bsnstatus_server arunderwood/bsnstatus
ExecStop=/usr/bin/docker stop -t 2 bsnstatus_server
ExecStopPost=/usr/bin/docker rm -f bsnstatus_server

[Install]
WantedBy=multi-user.target
